@model ArticleViewModel

@{
    Layout = "_Layout";
    var article = Model;
    var isMine = userManager.GetUserId(User) == article.Creator.Id;
}

@if (isMine)
{
    <div>
        <a asp-controller="articles" asp-action="edit" asp-route-id="@article.UniqueAddress">Edit</a>
        <form method="post" asp-controller="articles" asp-action="delete"
              asp-route-id="@article.UniqueAddress">
            <button type="submit">Delete</button>
        </form>
    </div>
}

<section>
    <h4>
        <span>Topic: </span> @article.Topic?.Name
    </h4>
    <h3>@article.Title</h3>
    <hr>

    @Html.Raw(article.HTMLContent)

    <hr>
    @if (!string.IsNullOrWhiteSpace(@article.DocFileAddress))
    {
        <a asp-controller="resources" asp-action="document" asp-route-id="@article.DocFileAddress">
            Download as document
        </a>
    }
    <span>Created at: @article.DateCreated.ToString(CultureInfo.CurrentCulture)</span>
</section>