@model ArticleViewModel

@{
    Layout = "_Layout";
    var user = await UserManager.GetUserAsync(User);
    var isMine = Model.Creator == user;
}

@if (isMine)
{
    <div>
        <a asp-controller="articles" asp-action="edit" asp-route-id="@Model.Id.ToString()">Edit</a>
        <a asp-controller="articles" asp-action="delete" asp-route-id="@Model.Id.ToString()">Delete</a>
    </div>
}

<article>
    <h4>
        <span>Topic: </span> @Model.Topic?.Name
    </h4>
    <h3>@Model.Title</h3>
    <hr>
    <p>@Model.HTML</p>
    <hr>
    <span>Created at: @Model.DateCreated.ToString(CultureInfo.CurrentCulture)</span>
</article>