@model ArticleViewModel

@{
    Layout = "_Layout";
    var article = Model;
    var isMine = userManager.GetUserId(User) == article.Creator.Id;
}

@if (isMine)
{
    <div>
        <a asp-controller="articles" asp-action="edit" asp-route-id="@article.UniqueAddress">Edit</a>
        <form asp-controller="articles" asp-action="delete"
              asp-route-id="@article.UniqueAddress"
              asp-route-returnUrl="@Context.Request.Path">
            <button type="submit">Delete</button>
        </form>
    </div>
}

<article>
    <h4>
        <span>Topic: </span> @article.Topic?.Name
    </h4>
    <h3>@article.Title</h3>
    <hr>
    <p>@article.HTMLContent</p>
    <hr>
    <a asp-controller="resources" asp-action="get"
       asp-route-id="@article.DocFileAddress"
       asp-route-returnUrl="@Context.Request.Path">
        Download as document
    </a>
    <span>Created at: @article.DateCreated.ToString(CultureInfo.CurrentCulture)</span>
</article>